* {
    margin: 0;
    padding: 0;
}

nav {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    padding: 10px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 12px;
    display: flex;
    align-items: center;
}

nav ul li:hover{
    color: grey;
    cursor: pointer;
}

.logo img{
    height: 8vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download{
    /* border: 2px solid red; */
    text-align: center;
    margin: 40px;
}

.download h1{
    font-weight: lighter;

    font-size: 48px;
    margin: 20px;
}

.download h1 span{
    font-weight: bold;
}

.download p{
    margin: 25px 0px;
    font-size: 24px;
    font-weight: 100;
}

.download button{
    height: 7vh;
    background-color: rgb(0, 183, 255);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.download button:hover{
    background-color: rgba(0, 183, 255, 0.768);
    cursor: pointer;
}

.version{
    /* border: 2px solid red; */
    width: 70vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 42px 0px;
}

.version img{
    height: 7vh;
    margin: 17px;
}

.version span{
    font-weight: 100;
    font-size: 17px;
}

.language{
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows: 155px 155px 155px;
    grid-template-columns: 270px 270px 270px;
    align-self: center;
    gap: 25px;
    text-align: center;
}

.card{
    background-color: rgba(128, 128, 128, 0.044);
    padding-top: 32px;
}

.card-1 h3{
    margin-bottom: 47px;
}

.card .text
{
    margin-bottom: 30px;
}

.card .text{
    font-weight: 200;
    font-size: smaller;
}

.card button{
    margin: 4px;
    padding: 3px;
    height: 5vh;
    width: 8vw;
    border: none;
    border-radius: 10px;
    color: white;
}

.card .bit-32{
    background-color: rgb(0, 255, 255);
}

.card .bit-64{
    background-color: rgba(5, 208, 52, 0.663);
}

.card .bit-32:hover{
    background-color: rgba(0, 255, 255, 0.497);
    cursor: pointer;
}

.card .bit-64:hover{
    background-color: rgba(5, 208, 52, 0.437);
    cursor: pointer;
}

@media screen and (max-width: 900px){

    nav{
        flex-wrap: wrap;
    }

    nav ul{
        flex-wrap: wrap;
    }

    .language{
        grid-template-rows: 155px;
        grid-template-columns: 270px;
    }

    .card button{
        width: 30vw;
    }
}
